/*lo ideal para mi seria separarlo en archivos, creando un archivo de configuracion principal con todo lo necesario para reutlizar*/
/* Settings */
:root {
  --background-color: #ffffff;
  --background-tr: rgba(255, 255, 255, 0);
  --primary-color: #6e6660;
  --secondary-color: #b525ce;
  --title-color-alt: #5a626c;
  --grey-color: #d9d9d9;
  --light-grey-color: #f1f1f1;
  --border-color: #ccc;
  --border-divider: #000000;
  --font-size-large: 2.2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.2rem;
  --font-size-xsmall: 0.9rem;
  --border-radius: 10px;
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 20px;
  --size-card-grupo: 240px;
  --text-card: left;
  --text-default: #6e6660;
  --font-default: 600;
  --rotate: rotate(220deg);
  --light-transform: rotate(150deg);
  --light-display: inline-block;
}

/* Tools */

.rotated-icon {
  transform: var(--rotate);
  display: var(--light-display);
}

.rotated-icon-light {
  transform: var(--light-transform);
  display: var(--light-display);
}

/* Generic */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Elements */
h2 {
  font-size: var(--font-size-large);
  color: var(--primary-color);
  margin: 0;
}

h4 {
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  margin: 0;
}

h5 {
  color: var(--title-color-alt);
  font-weight: var(--font-default);
}

p {
  font-size: var(--font-size-small);
  color: var(--primary-color);
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.panel {
  background: linear-gradient(to right, rgb(220, 246, 235), rgb(236, 229, 247));
  padding: var(--padding-large) var(--padding-large) 0 var(--padding-large);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.header-section {
  position: relative;
  padding-bottom: 10px;
}

.header-divider {
  height: 1px;
  background-color: #dddddd;
  width: 100%;
  margin-top: 10px;
}

/* Objects */
.card-seg {
  height: auto;
}

.card {
  min-height: var(--size-card-grupo);
}

.card-body {
  padding: var(--padding-large);
  text-align: var(--text-card);
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: var(--text-card);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: var(--text-card);
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: var(--text-card);
}

.card-value-footer {
  font-size: 1.25rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  text-align: var(--text-card);
  color: #6f6255;
  font-weight: bold;
}

.btn-container {
  background-color: var(--grey-color);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}

.btn-container .btn {
  margin: 0;
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-size-xsmall);
  border: none;
}

.btn-container .btn.active {
  background-color: #fff;
  color: var(--primary-color);
}

.table {
  min-width: 600px;
}

.table th,
.table td {
  text-align: left;
  vertical-align: middle;
  border: none;
}

.table td i {
  vertical-align: middle;
}

.table thead {
  background-color: #eae6f5;
}

.table th {
  padding: 16px 8px;
  text-align: left;
  color: var(--title-color-alt);
}

.rounded-circle {
  border-radius: 50%;
}

.table th i,
.table td i {
  margin-left: 5px;
}

.table .btn {
  background-color: var(--light-grey-color);
  border: none;
  color: #000;
}

.table-bordered {
  border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
  border-bottom: 3px solid #f0e8ee;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  border-radius: 8%;
}

.summary-card {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  margin-top: var(--padding-large);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 40px;
  color: var(--primary-color);
}

.summary-description {
  background-color: #f9f2f9;
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.objective-tag {
  background-color: var(--grey-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  display: inline-block;
  margin-bottom: 20px;
}

.interest-tags .tag {
  background-color: var(--grey-color);
  color: var(--secondary-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Components */
.btn-option {
  background-color: transparent;
  border: none;
  color: #948d87;
  margin: 0 5px;
  padding: 15px 20px;
  font-size: var(--font-size-small);
  transition: background-color 0.3s, border-bottom 0.3s;
  outline: none;
  box-shadow: none;
  flex: 1 1 auto;
}

.btn-option:focus,
.btn-option.active {
  outline: none;
  box-shadow: none;
}

.btn-option.active {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-bottom: none;
  color: var(--primary-color);
  position: relative;
  top: 1px;
}

.custom-btn {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-size: var(--font-size-small);
  padding: var(--padding-medium) var(--padding-large);
  width: 150px;
  font-weight: var(--font-default);
}

.custom-btn.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #fff;
  width: 220px;
  font-weight: var(--font-default);
  white-space: nowrap; /* Evitar salto de línea */
}

.custom-btn-grey {
  background-color: var(--grey-color);
  border-color: var(--grey-color);
  color: var(--primary-color);
  font-size: var(--font-size-small);
  font-weight: var(--font-default);
  padding: var(--padding-medium) var(--padding-large);
  width: auto;
}

.small-btn {
  padding: var(--padding-small) var(--padding-medium);
  font-size: var(--font-size-xsmall);
}

.content-panel {
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
}

.content-panel .d-flex {
  align-items: center;
}

/* Utilities */
.is-hidden {
  display: none;
}

.divider {
  border-top: 1px solid var(--border-divider);
  margin: 10px 0;
}

.summary-value {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--secondary-color);
  padding-bottom: 10px;
}

.summary-add {
  color: var(--primary-color);
}

.ctr-tag {
  background-color: var(--grey-color);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  display: inline-block;
  margin-bottom: 20px;
}

/* Estilos para el modal personalizado */
.modal-content {
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 40px;
}

.modal-dialog.modal-sm {
  max-width: 500px;
}

.modal-header {
  border-bottom: none; /* Quitar la línea divisora */
}

.modal-header .btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.modal-header .btn-close i {
  font-size: 1.5rem;
}

.modal-body {
  text-align: left;
  padding: 20px;
}

.modal-body .modal-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-body i {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #a6e6cb;
}

.modal-footer {
  border-top: none;
  padding: 20px;
}

.modal-footer .btn {
  width: 100%;
}

.modal-footer .btn:last-child {
  margin-bottom: 0;
}

.custom-btn-modal-p {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-weight: var(--font-default);
  color: #fff;
  width: 100%;
  height: 50px;
}

.custom-btn-modal-s {
  background-color: var(--background-tr);
  border-color: var(--primary-color);
  font-weight: var(--font-default);
  color: var(--text-default);
  width: 100%;
  height: 50px;
}

/* Media Queries para tablets (entre 768px y 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  .btn-option {
    padding: 12px 18px;
    font-size: 1.1rem;
  }
  .custom-btn-grey {
    font-size: 1rem;
  }

  .hide-on-mobile {
    display: none;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .table th,
  .table td {
    font-size: 0.9rem;
  }

  .summary-item {
    font-size: 1rem;
  }

  .summary-total {
    font-size: 1.1rem;
  }

  .summary-description {
    font-size: 1rem;
  }

  /* Cambios específicos para la sección de "Proyección" */
  .projection-section .d-flex.justify-content-between.align-items-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .projection-section .d-flex.justify-content-between.align-items-center .btn {
    width: 130px;
    height: 50px;
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
  }
}

/* Media Queries para dispositivos móviles (menores a 768px) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

  .hidden {
    display: none;
  }

  .panel {
    padding: 10px;
  }

  .btn-option {
    padding: 10px 15px;
    font-size: 1rem;
    margin: 5px 0;
    flex: 1 1 100%;
  }

  .btn-group {
    flex-direction: column;
  }

  .btn.custom-btn {
    font-size: 0.9rem;
    padding: 8px 12px;
    white-space: normal;
    text-align: center;
  }

  .btn-group {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .btn-option {
    width: 90%;
    margin: 5px 0;
    text-align: center;
  }

  /* Ocultar "Influencer" en móviles */
  .hide-on-mobile {
    display: none;
  }

  .content-panel {
    padding: 10px;
  }

  .card {
    margin-bottom: 10px;
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .table th,
  .table td {
    font-size: 0.8rem;
    padding: 8px;
  }

  .table th i,
  .table td i {
    margin-left: 2px;
  }

  .summary-card {
    padding: 10px;
  }

  .summary-item {
    font-size: 0.9rem;
  }

  .summary-total {
    font-size: 1rem;
  }

  .summary-description {
    font-size: 0.9rem;
  }

  .objective-tag,
  .interest-tags .tag {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .btn-container .btn {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .btn-container .btn.active {
    padding: 5px 10px;
  }

  /* Cambios específicos para la sección de "Proyección" */
  .projection-section .d-flex.justify-content-between.align-items-center,
  .influencers-section .d-flex.justify-content-between.align-items-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .d-flex.justify-content-between.align-items-center .btn {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9rem;
    padding: 10px;
  }

  .d-flex.justify-content-between.align-items-center .btn.custom-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .btn-container .btn {
    flex: 1;
    margin: 0 5px;
  }

  .d-flex.justify-content-between.align-items-center h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .d-flex.justify-content-between.align-items-center p {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
}
